@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');

* {
    color: white;
    font-family: Ubuntu, sans-serif;
    text-rendering: optimizeLegibility;
}

head {
    display: none;
}

body {
    position: relative;
    overflow: hidden;
    background: linear-gradient(312deg, #009245, #00A8C5, #D74177);
    background-size: 600% 600%;
    background-repeat: no-repeat;
    -webkit-animation: BgAnim 32s ease infinite;
    -moz-animation: BgAnim 32s ease infinite;
    -o-animation: BgAnim 32s ease infinite;
    animation: BgAnim 32s ease infinite;
    margin: 0;
    height: 100%;
}

@-webkit-keyframes BgAnim {
    0%{background-position:2% 0%}
    50%{background-position:99% 100%}
    100%{background-position:2% 0%}
}
@-moz-keyframes BgAnim {
    0%{background-position:2% 0%}
    50%{background-position:99% 100%}
    100%{background-position:2% 0%}
}
@-o-keyframes BgAnim {
    0%{background-position:2% 0%}
    50%{background-position:99% 100%}
    100%{background-position:2% 0%}
}
@keyframes BgAnim {
    0%{background-position:2% 0%}
    50%{background-position:99% 100%}
    100%{background-position:2% 0%}
}

html {
    height: 100%;
    overflow: hidden;
}

h1 {
    font-weight: bold;
    font-size: 32px;
}

.redirect {
    color: rgba(255, 255, 255, 0.5);
    cursor: default;
}

@keyframes blinking {
    50% {
      border-color: transparent;
    }
}

.typing {
    display: flex;
    border: solid 12px white;
    box-sizing: border-box;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.avatar {
    display: none;
}

.wrap {
    border-right: 0.06em solid #fff; 
    animation: blinking 1s steps(1) infinite;
}

button {
    background-color: transparent;
    border: 3px solid white;
    border-radius: 12px;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    font-size: 16px;
    padding: 16px;
    margin: 4px;
}

button:hover {
    background-color: white;
    color: black;
}